SNNI_DIR=../shark
# Note: {FILE} is the prefix passed by the server
# Add the cd prefix to the client template
CLIENT_CMD_TEMPLATE=cd {SNNI_DIR} && ./build/benchmark-{MODEL} 1 {SERVER_IP} {PORT} {BATCH} {FILE}

INFERENCE_TIMEOUT=3000