# scheduler config: simple key=value text file

SCHEDULER_PORT=8000
MAX_CONN=50
SCHEDULER_MODE=FCFS
SNNI_DIR= ../../shark
MODELS=simc2, hinet, alexnet
BATCH_SIZES=1,2,4,8
SERVER_CMD_TEMPLATE=./build/benchmark-{MODEL} 0 127.0.0.1 {PORT} {BATCH}
CLIENT_CMD_TEMPLATE=./build/benchmark-{MODEL} 1 {SERVER_IP} {PORT} {BATCH}
PREPROC_CMD_TEMPLATE=cd {SNNI_DIR} && ./build/benchmark-{MODEL} 2 127.0.0.1 {PORT} {BATCH}
PREPROC_REGEN_THRESHOLD=1
PRE_BASE_PORT=46000
PORT_RANGE=100
BASE_PORT=47100
PORT_RANGE=900
DEFAULT_THREADS=4
MAX_THREADS=8
PREPROC_TIMEOUT=400   # seconds for preproc job (dealer)
INFERENCE_TIMEOUT=300 # seconds for inference job
LOG_FILE=scheduler_log.csv
SYS_FILE=system_stats.csv
TOTAL_CORES=192